@charset "utf-8";
/*
*@ Powered by English Study by Design
*@ Auther Haiven Gong 
*/
@font-face {
    font-family: 'vijayaregular';
    src: url('../fonts/vijaya-webfont.eot');
    src: url('../fonts/vijaya-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vijaya-webfont.woff') format('woff'),
         url('../fonts/vijaya-webfont.ttf') format('truetype'),
         url('../fonts/vijaya-webfont.svg#vijayaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body,div,ul,li,img,a,p,h1,h2,h3,h4,h5,table,tr,td,hr,menu,dir,input,select,embed { margin:0; padding:0; }
a,img { text-decoration:none; outline:none; border:none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
ul,li{list-style:none;}
body {
	font-family:vijayaregular, "微软雅黑";
	font-size:19px;
	color:#595757;
}
.first {
	margin:0 auto;
	width:100%;
	text-align:center;
}
.first a {
	color:#000000;
}
.first p {
	margin:0 auto;
	width:1055px;
	text-align:left;
	padding:10px 0;
}
#top {
	width:890px;
	margin:0 auto;
	clear:both;
}
.logo {
	margin:0 0 0 -64px;
	padding:20px 0 10px 0;
}
#head,
#body {
	background:#f5f2f4;
	width:100%;
	/*height:60px;*/
	float:left;
}
.menu,
.content {
	margin:0 auto;
	width:890px;
	
}
.menu ul {
	/*clear:both;*/
	float:left;
	width:100%;
	height:auto;
	padding:16px 0;
}
.menu ul li {
	float: left;
	width: 20%;
	height: 26px;
	text-align:center;
}
.menu ul li.current a {
	display:block;
	/*background:url(../images/menu_line.png) no-repeat 0 50%;
	text-indent:-999em;*/
	width:120px;
	text-align:center;
	padding:4px 0;
	margin:0 29px;
	/*background:url(../images/bg_line.png) repeat-x 0 100%;*/
	font-weight:bold;
}
.menu ul li a {
	font-family:"Trebuchet MS","微软雅黑";
	font-size:14px;
	color:#595757;
	padding:0 29px;
}
#body {
	margin:20px 0 0 0;
}
.article {
	float:left;
	width:100%;
	padding:20px 0;
}
.article > p {
	line-height:20px;
	text-align:justify;
	padding:10px 0 10px 0;
}
.article_img {
	float:left;
	width:268px;
	padding:0 42px 0 0;
}
.article_txt {
	float:left;
	width:580px;
	text-align:justify;
	border-top:1px solid #595757;
	padding:16px 0 0 0;
	line-height:24px;
}
.follow {
	text-align:center;
	float:left;
	width:100%;
	padding:30px 0;
}
.follow p {
	font-family:"Trebuchet MS";
	font-size:12px;
	line-height:24px;
}
.follow a {
	color:#595757;
}
.changelan {
	clear:both;
	float:right;
}
.txt_zh {
	font-family:"微软雅黑";
	font-size:12px;
}
.a_img {
	width:100%;
}
/*.a_img img {
	padding:0 24px 0 0;
}
.a_img img:last-child {
	padding:0;
}*/
.course {
	clear:both;
	background:#eae8ea;
	padding:20px 20px 0 20px;
	margin:20px 10% 0 10%;
	text-align:center;
}
.course_name img{
	padding:0 6%;
}
.article_left {
	width:520px;
	padding:0 20px 0 0;
	overflow:hidden;
	float:left;
}
.article_right {
	float:left;
	width:350px;
}
.article_right table {
	background:#eae8ea;
	border:none;
	border-spacing:0;
	margin:20px 0 0 0;
}
.article_right table td {
	border-bottom:3px solid #F5F2F4;
	border-right:3px solid #F5F2F4;
	padding:8px 4px 8px 16px;
}
.address {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif,"微软雅黑";
	font-size:12px;
	margin:20px 0 0 0;
}
.address table {
	background:#eae8ea;
	border:0;
	border-spacing:0;
	margin:0;
}
.address table td {
	border:0;
	padding:0;
	line-height:20px;
}
.iw_poi_title {
	color:#CC5522;
	font-family:"Trebuchet MS";
	font-size:20px;
	font-weight:bold;
	overflow:hidden;
	padding-right:13px;
	white-space:nowrap;
}
.iw_poi_content {
	font:12px "微软雅黑";
	overflow:visible;
	padding-top:4px;
	white-space:-moz-pre-wrap;
	word-wrap:break-word;
}
.course_01 {
	background:#eae8ea;
	padding:20px;
	margin:20px 0 0 0;
	float:right;
	text-align:left;
	width:650px;
}
.course_01 li {
	list-style:disc inside;
}
.course_01 p {
	padding:5px 0;
	text-align:justify;
}
.course_02 {
	width:160px;
	float:left;
	margin:20px 0px 0 0;
	background:#eae8ea;
	padding:20px 0px 0 20px;
}
.course_01_zh {
	font-family:"微软雅黑";
	font-size:12px;
	line-height:1.5;
}
